html {
    background: -webkit-linear-gradient(left, seagreen, teal);
      font-family: roboto;
  }
  
  button {
    width: 100px;
    height: 100px;
    margin: 20% auto;
    border-radius: 100px;
    background-color: orangered;
    text-align: center;
    line-height: 100px;
    font-size: 36px;
    color: white;
    position: absolute;
    cursor: pointer;
  }


button:hover {
    transform: rotatex(20deg) translatey(2px);
    box-shadow: 0px 5px 0px rgba(0,0,0,.7);
    }

button:active{
    background: blueviolet;
}

.up{
    left:30%;
}
.down{
    left:30%;
    top:30%;
}
.left{
    left:15%;
    top:15%;
}
.right{
    left:45%;
    top:15%;
}
.a{
    left:80%;
    top:25%;
}
.b{
    left:80%;
    top:5%;
}
