* {
  padding: 0px;
  margin: 0px;
}

td,
tr {
  padding: 75px;
}

table {
  margin: 100px;
}

#up,
#down,
#left,
#right {
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
  border: 2px solid rgb(255, 136, 0);
  transition: 0.4s;
  border-radius: 20px;
}
#up:hover,
#down:hover,
#left:hover,
#right:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
  cursor: pointer;
}

@media (max-width: 768px) {
  td,
  tr {
    padding: 5px;
  }
  #up,
  #down,
  #left,
  #right {
    width: 50px;
    height: 50px;
  }
}

/* background-image: linear-gradient(
      to right,
      #f78ca0 0%,
      #f9748f 19%,
      #fd868c 60%,
      #fe9a8b 100%
    ); */
