
button{
    font-size: 200%;
    padding: 8%;
    position: absolute;
    border-radius: 200px;
    background: rgb(255, 136, 0);
    border: 2px solid black;
    color:white;
}

button:hover{
    background:red;
}

button:active{
    background: blueviolet;
}

.up{
    left:40%;
}
.down{
    left:40%;
    top:60%;
}
.left{
    left:70%;
    top:30%;
}
.right{
    left:10%;
    top:30%;
}